In [4]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [5]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [6]:
df.shape

(133349, 11)

In [7]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'Linhas: {linhas}')
print(f'Colunas: {colunas}')

Linhas: 133349
Colunas: 11

In [8]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [42]:
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'nível_experiência',
    'employment_type': 'tipo_contrato',
    'job_title': 'cargo',
    'salary': 'salário',
    'salary_currency': 'moeda_salário',
    'salary_in_usd': 'salário_em_usd',
    'employee_residence': 'residência',
    'remote_ratio': 'taxa_remoto',
    'company_location': 'localização_empresa',
    'company_size': 'tamanho_empresa'
}

df = df.rename(columns=novos_nomes)

df.head(10)

,ano,nível_experiência,tipo_contrato,cargo,salário,moeda_salário,salário_em_usd,residência,taxa_remoto,localização_empresa,tamanho_empresa
0,2025.0,senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,junior,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,junior,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,senior,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,senior,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,pleno,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,pleno,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [35]:
df['nível_experiência'].value_counts()

nível_experiência
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [37]:
df['tipo_contrato'].value_counts()

tipo_contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [38]:
df['taxa_remoto'].value_counts()

taxa_remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [39]:
df['tamanho_empresa'].value_counts()

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [40]:
nível_experiência = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['nível_experiência'] = df['nível_experiência'].replace(nível_experiência)
df['nível_experiência'].value_counts()

nível_experiência
senior       77241
pleno        40465
junior       12443
executivo     3200
Name: count, dtype: int64

In [43]:
tipo_contrato = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df['tipo_contrato'] = df['tipo_contrato'].replace(tipo_contrato)
df['tipo_contrato'].value_counts()

tipo_contrato
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [44]:
tamanho_empresa = {
    'L': 'grande',
    'S': 'pequena',
    'M':	'media'

}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa)
df['tamanho_empresa'].value_counts()

tamanho_empresa
media      129561
grande       3574
pequena       214
Name: count, dtype: int64

In [46]:
mapa_trabalho = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}

df['taxa_remoto'] = df['taxa_remoto'].replace(mapa_trabalho)
df['taxa_remoto'].value_counts()

taxa_remoto
presencial    105312
remoto         27718
hibrido          319
Name: count, dtype: int64

In [47]:
df.head(10)

,ano,nível_experiência,tipo_contrato,cargo,salário,moeda_salário,salário_em_usd,residência,taxa_remoto,localização_empresa,tamanho_empresa
0,2025.0,senior,integral,Solutions Engineer,214000,USD,214000,US,remoto,US,media
1,2025.0,senior,integral,Solutions Engineer,136000,USD,136000,US,remoto,US,media
2,2025.0,pleno,integral,Data Engineer,158800,USD,158800,AU,presencial,AU,media
3,2025.0,pleno,integral,Data Engineer,139200,USD,139200,AU,presencial,AU,media
4,2025.0,junior,integral,Data Engineer,90000,USD,90000,US,presencial,US,media
5,2025.0,junior,integral,Data Engineer,80000,USD,80000,US,presencial,US,media
6,2025.0,senior,integral,Data Scientist,185000,USD,185000,US,presencial,US,media
7,2025.0,senior,integral,Data Scientist,148000,USD,148000,US,presencial,US,media
8,2025.0,pleno,integral,Data Scientist,135000,USD,135000,CA,presencial,CA,media
9,2025.0,pleno,integral,Data Scientist,108000,USD,108000,CA,presencial,CA,media

In [48]:
df.describe(include='object')

,nível_experiência,tipo_contrato,cargo,moeda_salário,residência,taxa_remoto,localização_empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,senior,integral,Data Scientist,USD,US,presencial,US,media
freq,77241,132563,17314,126140,119579,105312,119641,129561